<% content_for(:head) do %>
     <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
    <script type="text/javascript">
     var apiKey = "44703992";
     

     var sessionId = "<%= @room.sessionId %>";
     var token = "<%= @token %>";


     
     var publisher = TB.initPublisher(apiKey);
     var session = TB.initSession(sessionId);

     function sessionConnectedHandler(event) {
         session.publish(publisher);
         subscribeToStreams(event.streams);
     }

     function subscribeToStreams(streams) {
         for (var i = 0; i < streams.length; i++) {
             var stream = streams[i];
             if (stream.connection.connectionId != session.connection.connectionId) {
                 session.subscribe(stream);
             }
         }
     }

     function streamCreatedHandler(event) {
         subscribeToStreams(event.streams);
     }

     session.connect(apiKey, token);
     session.addEventListener("sessionConnected", sessionConnectedHandler);
     session.addEventListener("streamCreated", streamCreatedHandler);

    </script>
<% end %>

    <h1>Awesome video feed!</h1>
    <div id="myPublisherDiv"></div>

    <button>disconnect</button>