<html>
  <head>
    <title>
    Opentok Quick Start
    </title>
    <script src='https://swww.tokbox.com/webrtc/v2.0/js/TB.min.js'></script>
    <script type="text/javascript">
     var apiKey = "44703992";
     

     var sessionId = "1_MX40NDcwMzk5Mn5-U2F0IE1hciAyMiAxMDoxNzowNyBQRFQgMjAxNH4wLjcyNDIzNDE2fg";
     var token = "T1==cGFydG5lcl9pZD00NDcwMzk5MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1jZDZkMjM5MWFmNjYxMjdhNGViZmU2ZTgyYmJhOTRiN2E0Y2IyODVmOnJvbGU9c3Vic2NyaWJlciZzZXNzaW9uX2lkPTFfTVg0ME5EY3dNems1TW41LVUyRjBJRTFoY2lBeU1pQXhNRG94Tnpvd055QlFSRlFnTWpBeE5INHdMamN5TkRJek5ERTJmZyZjcmVhdGVfdGltZT0xMzk1NTA4NjQwJm5vbmNlPTAuMDM0NjY3NzM0MjE3NzE4NDA0JmV4cGlyZV90aW1lPTEzOTU1OTQ4ODcmY29ubmVjdGlvbl9kYXRhPQ==";


     
     var publisher = TB.initPublisher(apiKey);
     var session = TB.initSession(sessionId);

     function sessionConnectedHandler(event) {
         session.publish(publisher);
         subscribeToStreams(event.streams);
     }

     function subscribeToStreams(streams) {
         for (var i = 0; i < streams.length; i++) {
             var stream = streams[i];
             if (stream.connection.connectionId != session.connection.connectionId) {
                 session.subscribe(stream);
             }
         }
     }

     function streamCreatedHandler(event) {
         subscribeToStreams(event.streams);
     }

     session.connect(apiKey, token);
     session.addEventListener("sessionConnected", sessionConnectedHandler);
     session.addEventListener("streamCreated", streamCreatedHandler);

    </script>
  </head>
  <body>
    <h1>Awesome video feed!</h1>
    <div id="myPublisherDiv"></div>

    <button>disconnect</button>
  </body>
</html>